---
import { Image } from "astro:assets";

import PageLayout from "@/layouts/Base";
import aboutImg from "@/assets/Regular_quadrilateral_with_99.png";

const meta = {
	title: "About",
	description: "Find out more about Ian",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			Hi, I’m Ian. I’ve previously worked on a range of projects and now I will like
			to take the opportunity to share some facts about myself.
		</p>
		<div class="flex justify-center">
			<Image
				src={aboutImg}
				alt="The Number 99"
				loading="eager"
				fetchpriority="high"
			/>
		</div>
		<p>Here's some facts/interests about myself. Enjoy:</p>
		<ul class="list-inside list-disc">
			<li>I'm 6 ft 1</li>
			<li>I enjoy rambling on long walks</li>
			<li>I'm not a big fan of football</li>
			<li>I thoroughly enjoy a good Jamaican curry</li>
			<li>In the next year I plan on learning how to do backflip</li>
			<li>If I could have a conversation with a historical figure I would choose Chigghis Khan</li>
			<li>I believe no one is an alien and, therefore should not be treated as such</li>
		</ul>
		<!-- 
		<p>
			Clone or fork my <a
				class="cactus-link inline-block"
				href="https://github.com/chrismwilliams/astro-cactus"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="github repository">repo</a
			> if you like me!
		</p>   
-->
	</div>
</PageLayout>
