---
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { getAllPosts, sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const cactusTech: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "Jabberwocky VC",
		desc: "Venturing the next aeon of future",
		href: "https://jabberwockyvc.xyz",
	},
	{
		title: "Fiat Lux Labs",
		desc: "Creative tech studio",
		href: "https://fiatluxlabs.co",
	},
	{
		title: "Nocta AI",
		desc: "Building in stealth",
		href: "https://nocta.ai",
	},
	{
		title: "Glowup AI",
		desc: "Create fun and trendy versions of yourself",
		href: "https://glowupai.co",
	},
	{
		title: "Laid or Paid",
		desc: "Find out if your startup will find PMF",
		href: "https://laidorpaid.co",
	},
];
---

<PageLayout meta={{ title: "Home" }}>
	<section class="relative">
		<h1 class="title mb-6">FR99</h1>
		<div class="relative flex flex-col items-center">
			<div class="relative z-10 flex flex-col justify-between gap-4 text-center md:max-h-[300px]">
				<div class="flex flex-col items-center">
					<p class="m-0 text-xl font-light">
						Hi, I'm <b class="font-bold">Ian</b>, a human first with a strong interest in the
						technology, science, and philosophy.
					</p>
					<q class="title mb-4 mt-4 text-sm">
						<em>Whilst inflation inflates prices, the cost of good ideas remain the same</em>
					</q>
					<div class="mt-2">
						<!-- Adjust the margin-top value as needed -->
						<!-- Include the SocialList component here -->
						<SocialList />
					</div>
				</div>
			</div>

			<!-- Mobile view -->
			<img
				src="phaeton_outline.png"
				alt="Image"
				class="pointer-events-none h-auto w-full max-w-full md:hidden"
			/>

			<!-- Tablet and larger screens -->
			<div class="hidden md:absolute md:relative md:flex md:max-h-[300px] md:w-full">
				<img
					src="phaeton_outline.png"
					alt="Image"
					class="pointer-events-none h-full w-full object-cover opacity-50"
				/>
			</div>
		</div>
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Projects</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				cactusTech.map(({ href, title, desc }) => (
					<li>
						<a
							href={href}
							target="_blank"
							rel="noopener noreferrer"
							class="cactus-link inline-block"
						>
							{title}
						</a>
						:<p class="inline-block sm:mt-2">{desc}</p>
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
